* {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

#menu-principal {
    display: flex;
    justify-content: space-between;
    padding: 0 162px;
    align-items: center;
    background-color: #1A3129;
    color: #FFFFFF;
    height: 95px;
}

#logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

#lista-menu a {
    padding: 0 26px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;

}

#lista-menu button {
    width: 137px;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #CBEA7B;
}

#lista-menu #home {
    color: #CBEA7B;
}

#home-section {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 832px;
}

#img-home {
    width: 949px;
}

#img-home img {
    width: 949px;
    height: 828px;
    object-fit: cover;
}

#text-home {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125.5px 0;
    padding-left: 50px;
    padding-right: 162px;
}

#text-home h3 {
    font-size: 28px;
    margin-bottom: 24px;
    width: 100%;
}

#text-home h1 {
    font-size: 58px;
    margin-bottom: 20px;
}

#text-home p {
    font-size: 18px;
    margin-bottom: 50px;
}

#button-home {
    width: 100%;
    margin-bottom: 70px;
}

#button-home1{
    width: 187px;
    height: 59px;
    background-color: #CBEA7B;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-right: 20px;
}

#button-home2{
    width: 154px;
    height: 59px;
    background-color: #F6FBE9;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

#feedback {
    width: 100%;
    display: flex;
    align-items: center;
    height: 66px;
}

#img-feedback {
    display: flex;
    width: 180px;
}

#text-feedback {
    height: 20px;
    font-size: 18px;
}

#text-feedback p strong {
    color: #468671;
}

#features-section {
    display: flex;
    align-items: center;
    width: 1920px;
    height: fit-content;
}

#container-features {
    margin: 150px 162px;
    margin-bottom: 177px;
    width: 1596px;
    height: 1008px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container-features h1 {
    font-size: 48px;
}

#container-features p {
    font-size: 18px;
    font-weight: bold;
}

.grid-features {
    display: grid;
    grid-template-columns: 783px 783px;
    grid-template-rows: 253px 253px 253px;
}

.box-left{
    margin-right: 15px;
    margin-top: 15px;
}

.box-right{
    margin-left: 15px;
    margin-top: 15px;
}