* {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
    #menu-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1A3129;
        color: #FFFFFF;
    }

    #logo {
        display: flex;
        align-items: center;
    }

    #lista-menu a {
        color: #FFFFFF;
        font-weight: bold;

    }

    #lista-menu button {
        font-weight: bold;
        background-color: #CBEA7B;
    }

    #lista-menu #home {
        color: #CBEA7B;
    }

    #home-section {
        display: flex;
        align-items: center;
    }

    #img-home img {
        object-fit: cover;
    }

    #text-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #button-home1{
        background-color: #CBEA7B;
        border: none;
    }

    #button-home2{
        background-color: #F6FBE9;
        border: none;
    }

    #feedback {
        display: flex;
        align-items: center;
    }

    #img-feedback {
        display: flex;
    }


    #text-feedback p strong {
        color: #468671;
    }

    #features-section {
        display: flex;
        align-items: center;
        height: fit-content;
    }

    #container-features {
        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .grid-features {
        display: grid;
       }

    .box-left{
        border: solid 1px black;
    }

    .box-right{
        border: solid 1px black;
    }

    .title-box {
        display: flex;
        align-items: center;
        
    }

    #blog-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #text-blog {
        text-align: center;
    }

    .grid-blog {
        display: grid;
        justify-content: center;
    }

    .box-left-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }

    .box-right-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }

    .perfil{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .photo-name {
        display: flex;
        align-items: center;
    }

    #testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-testimonials {
        display: grid;
    }

    .perfil-testimonials {
        display: flex;
        align-items: center;
        background-color: #F6FBE9;
    }

    #pricing {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #container-pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #text-pricing {
        text-align: center;
    }

    #button-month {
        background-color: #234338;
        color: #FFFFFF;
    }
    
    #button-pricing {
        border: solid 2px #DCF1A7;
    }

    .grid-pricing{
        display: grid;
    }
    
    .box-pricing {
        background-color: #EEF8D3;
    }

   

    .price {
        display: flex;
        align-items: center;
        h1 {
            color: #2C5446;
        }
    }

    .button-choose-plan {
        background-color: #CBEA7B;
        border: none;
    }
    
    footer {
        background-color: #1A3129;
    }

    #menu-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #logo-footer {
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    #gotop {
        display: flex;
        color: #FFFFFF;
        align-items: center;
    }

    #list-menu-footer {
        display: flex;
    }

    #list-menu-footer a {
        color: #FFFFFF;
    }

    #contact {
        background-color: #234338;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    #list-contact {
        display: flex;
        align-items: center;
    }

    #list-contact h1 {
        border: 1px solid white;
        display: flex;
        align-items: center;
        color: #FFFFFF; 
    }

    #text-footer {
        color: white;
    }

